<td>
  <table class="party-dates-table">
    <tr>
      <td class="party-details">
        <strong>M/s : </strong>
        <div class="party-details-text">
          {{partyDetails}}
        </div>
      </td>
      <td class="dates">
        <table>
          <tr>
            <td>Bill No.: {{bill.number}} </td>
            <td>Date: {{formatDate bill.date "DD/MM/YYYY"}} </td>
          </tr>
          <tr>
            <td>DC No.: {{dc.number}}</td>
            <td>Date: {{formatDate dc.date "DD/MM/YYYY"}}</td>
          </tr>
          <tr>
            <td>PO No.: {{po.number}}</td>
            <td>Date: {{formatDate po.date "DD/MM/YYYY"}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</td>